<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email"/>
      <!-- NOTE: Aquie [formControl]="form.controls.email" es una forma de hacer link -->
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>

  @if (emailInsInvalid) {
    <p class="control-error">Please enter a valid email address.</p>
  }

  @if (passwordInsInvalid) {
    <p class="control-error">Please enter a valid password.</p>
  }
</form>
